<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
  <%- include('head.ejs', {isJobRunning}) %>
  <table>
    <thead>
      <th>Index</th>
      <th>Expression</th>
      <th>Test</th>
    </thead>
    <tbody>
      <% items.forEach(function(item, idx) { %>
        <tr>
          <td>
            <%= idx %>
          </td>
          <td>
            <input class="bad-expression-value" data-expression-idx="<%= idx %>" value="<%= item %>" />
          </td>
          <td>
            <input class="bad-expression-test" data-expression-idx="<%= idx %>" value="" />
          </td>
        </tr>
      <% }); %>
    </thead>
  </table>
</body>
</html>