<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
  <%- include('head.ejs', {isJobRunning}) %>
  <table class="iterations">
    <thead>
      <th class="start">Start</th>
      <th class="end">End</th>
      <th>#</th>
      <th>New</th>
      <th>T?</th>
      <th>D?</th>
      <th>P?</th>
      <th>Gold</th>
      <th>Xhr</th>
      <th>PF</th>
      <th>-Old</th>
      <th>-Sets</th>
      <th>-Users</th>
      <th>-R</th>
    </thead>
    <tbody>
      <% iterations.reverse().forEach(function (iteration, idx) { %>
        <tr id="iteration-<%= idx %>" onclick="toggleIterationLog(<%= idx %>)">
          <td><%= iteration.start.replace("T", " ").slice(5, -8) %></td>
          <td><%= iteration.end.replace("T", " ").slice(5, -8) %></td>
          <td><%= iteration.totalItems %></td>
          <td><%= iteration.addedItems %></td>
          <td><%= iteration.titleInfered %></td>
          <td><%= iteration.descriptionInfered %></td>
          <td><%= iteration.photoInfered %></td>
          <td><%= iteration.possibleGold %></td>
          <td><%= iteration.vintedXhrs %></td>
          <td><%= iteration.photoFailure %></td>
          <td><%= iteration.pastItems %></td>
          <td><%= iteration.unwantedItems %></td>
          <td><%= iteration.unwantedUsers %></td>
          <td><%= iteration.repost %></td>
        </tr>
        <table class="iteration-log hide" id="iteration-log-<%= idx %>">
          <tbody>
            <% (iteration.items || []).forEach(function (item) { %>
              <tr>
                <td><%= item %></td>
                <td>
                  <% if (item.pastItem) { %>
                    Past item
                  <% } %>
                  <% if (item.repost) { %>
                    Repost
                  <% } %>
                  <% if (item.unwantedUser) { %>
                    Unwanted user <%= item.unwantedUser %>
                  <% } %>
                  <% if (item.titleDiscarded) { %>
                    Title discarded (<%= item.titleDiscarded %>)
                  <% } %>
                  <% if (item.brandDiscarded) { %>
                    Brand
                  <% } %>
                  <% if (item.descriptionDiscarded) { %>
                    Description discarded (<%= item.descriptionDiscarded %>)
                  <% } %>
                  <% if (item.unwantedSets) { %>
                    Unwanted: <%= item.unwantedSets %>
                  <% } %>
                  <% if (item.notInferred) { %>
                    Not inferred
                  <% } %>
                  <% if (item.inferredGold) { %>
                    <b>Inferred Gold</b>: <%= item.inferredGold %> (<%= item.maxPrice %>)
                  <% } %>
                  <% if (item.inferred) { %>
                    Inferred: <%= item.inferred %> (<%= item.maxPrice %>)
                  <% } %>
                </td>
                <td>
                  <% if (item.photoRecognition) { %>
                    <%= item.photoRecognition %>
                  <% } %>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% }); %>
    </thead>
  </table>
</body>
</html>