<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
  <%- include('head.ejs', {isJobRunning}) %>
  <ul>
    <li>Number of users: <%= usersArray.length %></li>
  </ul>
  <table class="users">
    <thead>
      <th>User</th>
      <th>Sets</th>
    </thead>
    <tbody>
      <% usersArray.forEach(function(user) { %>
        <tr data-user-login="<%= user.id %>">
          <td>
            <a href="https://www.vinted.pt/member/<%= user.id %>"><%= userLogins[user.id] %> (<%= user.items.length %>)<a/>
            <button class="user-delete-button" onclick="unwantedUser(<%= userLogins[user.id] %>)">X</button>
          </td>
          <td class="sets">
            <ul>
            <% user.items.forEach(function (item) { %>
              <li>
                <a href="<%= item.url %>"><%= parseInt(item.price) %>€</a> 
              </li>
            <% }); %>
          </ul>
          </td>
        </tr>
      <% }); %>
    </thead>
  </table>
</body>
</html>