<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
  <%- include('head.ejs', {isJobRunning}) %>
  <ul>
    <li>Number of users: <%= Object.keys(users).length %></li>
  </ul>
  <table class="users">
    <thead>
      <th>User</th>
      <th>Sets</th>
    </thead>
    <tbody>
      <% Object.keys(users).forEach(function(userId) { %>
        <tr data-user-login="<%= userId %>">
          <td>
            <a href="https://www.vinted.pt/member/<%= userId %>"><%= userLogins[userId] %><a/>
            <button class="user-delete-button" onclick="unwantedUser(<%= userLogin %>)">X</button>
          </td>
          <td class="sets">
            <ul>
            <% users[userId].forEach(function (item) { %>
              <li>
                <a href="<%= item.url %>"><%= parseInt(item.price) %>€</a> 
              </li>
            <% }); %>
          </ul>
          </td>
        </tr>
      <% }); %>
    </thead>
  </table>
</body>
</html>